* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #151515;
}


button {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 8px 25px;
    color: #6200ff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.4s background 0.4s;
    box-shadow: 0.4, color 0.4s;
    transition-delay: 0s;
    cursor: pointer;

}

button::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #6200ff;
    border-left: 2px solid #6200ff;
    transition: width 0.4s, height 0.4s;
    transition-delay: 0.4s;

}

button::before {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #6200ff;
    border-right: 2px solid #6200ff;
    transition: width 0.4s, height 0.4s;
    transition-delay: 0.4s;

}

button:hover::after,
button:hover::before {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

button:hover {
    background-color: #6200ff;
    color: aliceblue;
    box-shadow: 0 0 20px #6200ff;
    transition-delay: 0.4s;
}

ul {
    color: #7B7B7B;
    margin-top: 10px;
    font-size: 25px;
    list-style-type: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 0 0;

}

.header-text {
    color: #6200ff;
    font-size: 25px;
}

.header-title {
    color: aliceblue;
    font-size: 80px;
}

.header-subtitle {
    color: #7B7B7B;
    font-size: 25px;
    max-width: 540px;
    text-align: justify;
}

.purple {
    color: #6200ff;
}

.aliceblue {
    color: aliceblue;
}

.spacing {
    margin-top: 140px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-subtitle {
    color: aliceblue;
    font-size: 40px;
}

.about-text {
    color: #7B7B7B;
    font-size: 18px;
    max-width: 540px;
    text-align: justify;
    margin-top: 60px;
}

.me-image {
    width: 240px;
    height: 300px;
    object-fit: cover;
}

.stack-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stack-subtitle {
    color: aliceblue;
    font-size: 40px;
}

.frontend,
.backend {
    margin-top: 60px;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-subtitle {
    color: aliceblue;
    font-size: 40px;
}

.project-card {
    margin-top: 60px;
    background-color: #111111;
    width: 350px;
    height: 400px;
    padding: 45px;
    text-align: center;


}

.card-text-title {
    font-weight: bold;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.card-text {
    padding: 25px;
    color: aliceblue;
    margin: 30px 0;
}

.card-button {
    width: 100%;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.contact-text {
    font-size: 20px;
    color: #7B7B7B;
    max-width: 650px;
    margin: 20px 0;
}

.contact-title {
    color: aliceblue;
    font-size: 20px;

}

.contact-email,
.contact-whatsapp {
    color: aliceblue;
    margin-top: 5px;
}

.contact-flex{
    display: flex;
}

.contact-email::after,
.contact-whatsapp::after{
    content: "";
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

footer {
    margin: 60px 0 10px 0;
    text-align: center;
    color: #7B7B7B;
}

@media (max-width: 1200px) {
    .container {
        width: calc(100% - 40px);

    }
}

@media (max-width: 820px) {
    button {
        padding: 8px 50px;

    }

    .header-container {
        flex-direction: column;
        gap: 60px;
    }

    .about-container {
        flex-direction: column;
        gap: 60px;
    }

    .project-container {
        flex-direction: column;

    }

    .about-subtitle,
    .project-subtitle,
    .stack-subtitle {
        text-align: center;
    }

    .project-card {
        width: 450px;
        height: 400px;
    }

}

@media (max-width: 500px) {
    button {
        padding: 8px 25px;

    }

    ul {
        text-align: center;

    }

    .container {
        text-align: center;

    }

    .stack-container {
        flex-direction: column;
        text-align: center;

    }

    .project-card {
        width: 350px;
        height: 400px;
    }



}

@media (max-width: 320px) {
    .header-title{
        font-size: 73px;
    }

    .contact-flex{
        flex-direction: column;
    }
    
}